<app-navbar></app-navbar>
<h1 class="display-4 text-center mt-3 ">Welcome {{data.name}}</h1> 
<table class="table table-striped-columns">
    <tbody>
    <tr>
    <th scope="col">Emp Code</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Salary</th>
    <th scope="col">Phone No</th>
    <th scope="col">Email</th>
    <th scope="col">Company Website</th>
    <th scope="col">Experiance</th>
    </tr>
   
   
   
    <tr *ngFor="let i of data">
    <td>{{i.EmpCode}}</td>    
    <td>{{i.name}}</td>
    <td>{{i.Designation}}</td>
    <td>{{i.Salary}}</td>
    <td>{{i.PhoneNo}}</td>
    <td>{{i.Email}}</td>
    <td>{{i.CompanyWebsite}}</td>
    <td>{{i.Experiance}}</td>
    </tr>
    
    </tbody>
    </table>