<h1 class="display-4 text-center mt-5">Add Employee</h1>   
<p> </p>
<div class="container">
<div class="row">
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3 d-flex justify-content-center align-items-center h-100">
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Employee Code</label>
              <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Employee Name</label>
              <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
              <label for="" class="form-label">Designation</label>
              <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Phone No</label>
              <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-52 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Email</label>
              <input type="email" name="" id="" placeholder="name@example.com"  class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Company Website</label>
              <input type="text" name="" id="" placeholder="www.example.com" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Experiance</label>
              <input type="text" name="" id="" class="form-control">
          </div>                
          <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10 text-center">
              <a class="btn btn-primary w-50">Submit</a>
          </div>
      </div>
  </div>
</div>
</div>

